body
  padding: ($base-line-height * 3) $col-edge-padding
  text-align: center
  font-family: $sans-font-family

.logo
  margin-bottom: 30px

p
  display: block
  width: 360px
  margin: 0 auto
  max-width: 100%

p + p
  margin-top: 15px