.waffles
  width: 1024px
  margin: 0 auto
  max-width: 100%
  text-align: left
  font-family: sans-serif

.waffles-header
  position: relative
  color: white
  background: #efefef
  padding: 20px

.waffles-title
  font-size: 80px
  line-height: 88px
  text-transform: uppercase

.waffles-subtitle
  text-transform: uppercase
  margin: 0

.waffles-licketybit
  position: absolute
  top: 20px
  right: 20px

.waffles-buy
  position: absolute
  bottom: 20px
  right: 20px
