.waffles-pg
  background: rgba($blue, .3) url(/img/hatch-sm.png)

.waffles
  width: 1024px
  margin: 0 auto
  max-width: 100%
  font-family: sans-serif

.waffles-header
  position: relative
  color: white

.waffles-title
  font-size: 80px
  line-height: 88px
  text-transform: uppercase
  text-shadow: 2px 2px 1px rgba($gray-dark, .5)

.waffles-subtitle
  text-transform: uppercase
  margin: 0

.waffles-buy
  position: absolute
  bottom: 0
  right: 130px
  min-width: 135px
  padding-bottom: 55px
  background: url(/img/Download_on_the_App_Store_Badge_US-UK_135x40.png) no-repeat center bottom
  text-align: center
  font-size: 22px
  color: $gray-dark

.waffles-question
  font-size: 42px
  margin: 100px 0 80px 0

.waffles-art
  margin: 50px 0

.waffles-art-title
  font-size: 30px

.waffles-art-list
  list-style: none
  margin: 0
  overflow: hidden

.waffles-art-item
  float: left
  border: 10px solid #efefef
  margin: 6px

  &:first-child
    margin-left: 0

  &:last-child
    margin-right: 0

.waffle-art-img
  height: 260px

.waffles-story
  margin: 50px 0

.waffles-story-title
  font-size: 30px

.waffles-bio-list
  list-style: none
  margin-left: 0
  overflow: hidden

.waffles-bio-item
  float: left
  width: 50%
  overflow: hidden

.waffles-bio-img
  float: left
  width: 200px
  margin: 0 25px 25px 0
  border-radius: 2px

.waffles-bio-title
  text-transform: uppercase
  font-size: 24px
  line-height: 30px

.waffles-bio-subtitle
  text-transform: uppercase
  font-size: 16px
  line-height: 1em
  margin-bottom: 10px
