extends layouts/index

block content

  img.logo(src="/img/logo.png")

  h2 Privacy Policy

  p Our privacy policy is simple and awesome.  We don't collect, store, or share your personal information.

  p Enjoy Lickety Bit products without even caring that this privacy policy page exists!
