extends layouts/index

block content

  .waffles
    header.waffles-header
      h1.waffles-title The Boy Wants Waffles
      h2.inverse-title.waffles-subtitle A beautiful storybook for iPad and iPhone

      .waffles-buy
        //img.waffles-buy-app-icon(src="/img/app-icon.png")
        div Available now!

    .byline.waffles-question What happens when dad sleeps through breakfast?

    .waffles-inset.waffles-art
      header.waffles-art-header
        h2.inverse-title.waffles-art-title Beautiful, hand-drawn art

      .waffles-art-desc
        p The coolest part of the book is the art. Ilene did a fantastic job creating real-to-life images of what tension and toil waiting for breakfast in the morning really feel like.  The characters are beautifully painted in water color.  The colors are bright, vivid, and eye-catching.  The scenes pictured are even more fun because her own grandchildren posed for various situations (And not much direction was needed.  These kids have pure breakfast-begging acting skills!).

    ul.waffles-art-list
      li.waffles-art-item
        img.waffle-art-img(src="/img/art1.jpg")
      li.waffles-art-item
        img.waffle-art-img(src="/img/art2.jpg")
      li.waffles-art-item
        img.waffle-art-img(src="/img/art3.jpg")


    .byline.waffles-excerpt "It's as if he had slept on a buckily bur"

    .waffles-inset.waffles-story
      header.waffles-desc-header
        h2.inverse-title.waffles-desc-title Remembering the Little Ones

      .waffles-story-desc
        p Moms and dads and little people will relate well with the early morning need for breakfast.  How better to remember it than the lyrical prose of couplet rhyming?  It is fun to read aloud and memorable to the ear.  Though not to level of Seuss rhyme, the "buckily bur" was included in sweet rememberance of all thos great books read by parents to their children.

    ul.waffles-bio-list
      li.waffles-bio-item
        img.waffles-bio-img(src="/img/author.jpg")
        .waffles-bio-content
          .inverse-title.waffles-bio-title Jake Trent
          .inverse-title.waffles-bio-subtitle Author
          .waffles-bio-desc Jake has liked hearing, telling, and writing stories from early in his childhood.  He was encouraged by caring parents and nurturing teachers.  Now his loving wife encourages his creativity.  There are times it seems that he lives his life in couplet.  Lyrics are composed on the fly, and somehow life seems more epic and dramatic.  These days his stories are less of fantasy and fiction and more of the real-life adventures inspired by his wonderful children.
      li.waffles-bio-item
        img.waffles-bio-img(src="/img/illustrator.jpg")
        .waffles-bio-content
          .inverse-title.waffles-bio-title Ilene Trent
          .inverse-title.waffles-bio-subtitle Illustrator
          .waffles-bio-desc Ilene grew up in a home where she and her four sisters were encouraged to be creative.  Her mother always had plenty of art supplies available for their use.  She remembers winning her first art contest in the 6th grade.  In high school she took art classes for three years, learning to draw with pencil and chalk pastels.  She took a few community art classes when she had children at home, and encouraged their creative pursuits as well.  She recently started learning to use ink and water colors.

    footer.waffles-footer
      nav.waffles-footer-nav
        ul.waffles-footer-nav-list
          li.waffles-footer-nav-item
            a.waffles-footer-nav-link-download(href="/download")
          li.waffles-footer-nav-item
            a.waffles-footer-nav-link(href="/support") Support
          li.waffles-footer-nav-item
            a.waffles-footer-nav-link(href="/privacy") Privacy
          li.waffles-footer-nav-item
            .waffles-footer-nav-link-licketybit(href="/privacy") An app by
              img.waffles-footer-nav-link-licketybit-img(src="/img/logo-sm.png", alt="Lickety Bit")
