extends layouts/index

block content

  .waffles
    header.waffles-header
      h1.waffles-title The Boy Wants Waffles
      h2.waffles-subtitle A beautiful storybook for iPad and iPhone

      .waffles-licketybit
        img.waffles-licketybit-img(src="/img/logo-sm.png")

      .waffles-buy Available now at the App Store

    .waffles-art
      ul.waffles-art-list
        li.waffles-art-item
          img.waffle-art-img(src="/img/art1.jpg")
        li.waffles-art-item
          img.waffle-art-img(src="/img/art2.jpg")
        li.waffles-art-item
          img.waffle-art-img(src="/img/art3.jpg")

      .waffles-art-desc
        p The coolest part of the book is the art. The coolest part of the book is the art. The coolest part of the book is the art. The coolest part of the book is the art. The coolest part of the book is the art.

    .waffles-excerpt "It's as if he had slept on a buckily bur"

    .waffles-story
       p The story of "The Boy Wants Waffles" could and has happened to anyone who has eaten breakfast with a small boy.  There's no time to lose, and breakfast will not come soon enough.  The mornings are not lazy and for the faint of heart.  Rather, action is demanded and good-natured parents -- especially moms -- will jump to assist their children in peril of empty stomachs.

    .waffles-artist
      img.waffles-artist-img(src="/img/artist.jpg")
      .waffles-artist-desc Ilene Trent illustrated this book.  Ilene Trent illustrated this book.  Ilene Trent illustrated this book.  Ilene Trent illustrated this book.  Ilene Trent illustrated this book.  Ilene Trent illustrated this book.  Ilene Trent illustrated this book.

    .waffles-author
      img.waffles-author-img(src="/img/author.jpg")
      .waffles-author-desc Jake Trent authored this book. Jake Trent authored this book. Jake Trent authored this book. Jake Trent authored this book. Jake Trent authored this book. Jake Trent authored this book. Jake Trent authored this book. Jake Trent authored this book. Jake Trent authored this book.

    footer.waffles-footer
      nav.waffles-footer-nav
        ul.waffles-footer-nav-list
          li.waffles-footer-nav-item
            a.waffles-footer-nav-link(href="/download") Download the app
          li.waffles-footer-nav-item
            a.waffles-footer-nav-link(href="/support") Support
          li.waffles-footer-nav-item
            a.waffles-footer-nav-link(href="/privacy") Privay

      .waffles-footer-logo
        img.waffles-footer-logo-img(src="/img/logo-sm.png")


  img.logo(src="/img/logo.png")

  h2 "The Boy Wants Waffles"

  p Just submitted to the App Store for approval. (12/12)


