extends layouts/index

block content

  .waffles
    header.waffles-header
      h1.waffles-title The Boy Wants Waffles
      h2.inverse-title.waffles-subtitle A beautiful storybook for iPad and iPhone

      .waffles-buy Available now!

    .byline.waffles-question What happens when dad sleeps through breakfast?

    .waffles-inset.waffles-art
      header.waffles-art-header
        h2.inverse-title.waffles-art-title Beautiful, hand-drawn art

      .waffles-art-desc
        p The coolest part of the book is the art. The coolest part of the book is the art. The coolest part of the book is the art. The coolest part of the book is the art. The coolest part of the book is the art.

    ul.waffles-art-list
      li.waffles-art-item
        img.waffle-art-img(src="/img/art1.jpg")
      li.waffles-art-item
        img.waffle-art-img(src="/img/art2.jpg")
      li.waffles-art-item
        img.waffle-art-img(src="/img/art3.jpg")


    .byline.waffles-excerpt "It's as if he had slept on a buckily bur"

    .waffles-inset.waffles-story
      header.waffles-desc-header
        h2.inverse-title.waffles-desc-title Remembering the Little Ones

      .waffles-story-desc
        p Moms and dads and little people will relate well with the early morning need for breakfast.  The prose is written in couplet form.  It is fun to read aloud and memorable to the ear.  Though not to level of Seuss rhyme, the "buckily bur" was included in sweet rememberance of all thos great books read by parents to their children.

    ul.waffles-bio-list
      li.waffles-bio-item
        img.waffles-bio-img(src="/img/illustrator.jpg")
        .waffles-bio-content
          .inverse-title.waffles-bio-title Ilene Trent
          .inverse-title.waffles-bio-subtitle Illustrator
          .waffles-bio-desc Ilene Trent illustrated this book.  Ilene Trent illustrated this book.  Ilene Trent illustrated this book.  Ilene Trent illustrated this book.  Ilene Trent illustrated this book.  Ilene Trent illustrated this book.  Ilene Trent illustrated this book.
      li.waffles-bio-item
        img.waffles-bio-img(src="/img/author.jpg")
        .waffles-bio-content
          .inverse-title.waffles-bio-title Jake Trent
          .inverse-title.waffles-bio-subtitle Author
          .waffles-bio-desc Jake Trent illustrated this book.  Ilene Trent illustrated this book.  Ilene Trent illustrated this book.  Ilene Trent illustrated this book.  Ilene Trent illustrated this book.  Ilene Trent illustrated this book.  Ilene Trent illustrated this book.

    footer.waffles-footer
      nav.waffles-footer-nav
        ul.waffles-footer-nav-list
          li.waffles-footer-nav-item
            a.waffles-footer-nav-link-download(href="/download")
          li.waffles-footer-nav-item
            a.waffles-footer-nav-link(href="/support") Support
          li.waffles-footer-nav-item
            a.waffles-footer-nav-link(href="/privacy") Privacy
          li.waffles-footer-nav-item
            .waffles-footer-nav-link-licketybit(href="/privacy") An app by
              img.waffles-footer-nav-link-licketybit-img(src="/img/logo-sm.png", alt="Lickety Bit")
